body {
    background-color: greenyellow;
}

.ai {
    background-image: url('../img/ai.jpg');
}

.container {
    margin: 0 auto;
}

.gameToken {
    margin: 20px 0;
    font-size: 30px;
}

.message {
    text-align: center;
}

.clear {
    clear: both;
}

.cell {
    background-color: white;
    border: 2px solid black;
    float: left;
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cell:hover {
    border-color: red;
}

.player {
    background-image: url('../img/player.jpg');
}

.gameForm {
    margin-top: 40px;
}